@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-font: "Zen Dots", cursive;
  --body-font: "Noto Serif", serif;
}

ol,
ul {
  list-style: none;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
a {
  text-decoration: none;
}

html {
  font-size: 80.5%;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  font-family: var(--body-font);
}

main {
  display: flex;
  min-height: 100vh;
  background-color: gray;
  color: #fff;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
}
label {
  font-size: 1.2rem;
}
.btn {
  font-size: 1.3rem;
}
