*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-font: "Zen Dots", cursive;
    --body-font: "Noto Serif", serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    line-height: 1.5;
    font-family: var(--body-font);
}

.container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: gray;
    color: #fff;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.panel {
    position: relative;
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    flex: 0.4;
    margin: 3px;
    cursor: pointer;
    transition: flex 1s ease;
}

.panel h2 {
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    left: 30px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h2 {
    opacity: 1;
    transition: all 0.8s ease-in;
    transition-delay: 0.4s;
}