*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-font: "Zen Dots", cursive;
  --body-font: "Noto Serif", serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  font-family: var(--body-font);
}

main {
  display: flex;
  min-height: 100vh;
  background-color: rgb(206, 206, 206);
  color: #fff;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: relative;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  max-width: 100%;
  width: 350px;
  position: relative;
}
.progress-container::before {
  content: "";
  background-color: #a6a6a6;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}
.progress {
  background-color: #3498e3;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #222;
  font-size: 1.5rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #a6a6a6;
  transition: 0.4s ease;
}
.circle.active {
  border-color: #3498e3;
}
.btn {
  border: 0;
  padding: 6px 20px;
  background-color: #3498e3;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 6px;
  margin: 5px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}
.btn:disabled {
  cursor: not-allowed;
  background-color: #a6a6a6;
}
